<!DOCTYPE html>
<html>
<head>
    <title>Phishing Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>Phishing Email Scanner</h1>

    <div class="card">
        <p>This system scans emails using AI + rule-based detection.</p>
        <p>Forward suspicious emails to be analyzed automatically.</p>
    </div>

    <button onclick="window.location='/dashboard'" class="primary-btn">
        Go to Dashboard →
    </button>

</div>

</body>
</html>